body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #101820;
    color: white;
}

header {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #0f5132, #14532d);
}

h1 {
    color: gold;
}

.btn {
    background: orange;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.card {
    background: #1b263b;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
}

footer {
    text-align: center;
    padding: 20px;
}